# not needed files

diploma_thesis_template.aux
diploma_thesis_template.fdb_latexmk
diploma_thesis_template.fls
diploma_thesis_template.log
diploma_thesis_template.synchtex.gz
diploma_thesis_template.xdv